.loading {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: #00000047;
  color: white;
  cursor: wait;
  display: flex;
  align-items: center;
  justify-content: center;
}
