.background-top{
    background-color: #E5D29E;
    height: 50vh;
}
.background-topic{
    background-color: #ffff;
    position: absolute;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.background-bottom{
    background-color: #F6E9C3;
    height: 50vh;
}
.login-input{
    justify-content: center;
    align-items: center;
    display: flex;
    border-top-left-radius: 50px;
    max-height: 100% !important;
}
p{
    font-size: 30px;
    font-weight:bold;
}
img {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    max-inline-size: 100%;
    max-block-size: 100%;
    height: 481px;
    width: 100%;
  }

  .form-check-input{
    width: 1.5em;
    height: 1.5em;
  }
  .form-check-label{
    margin-left: 0.5rem;
  }

  .btn-submit {
    background-color: #E9D293 !important;
    color: #ffff !important;
    font-size: 20px !important;
    width: 100%;
    border-radius: 30px !important;
  }