<div class="container-fluid">
    <div class="column">
        <div class="col background-top"></div>
        <div class="col background-topic" >
            <div class="row">
                <div class="col-12 col-lg-7 col-md-7 col-sm-12 login-input" >
                    <form class="col-12 h-100">
                        <p class="text-center mt-5">ASK Partner Web</p>
                        <div class="mb-4  ms-sm-4 me-sm-4 ms-md-4 me-md-4 ms-lg-5 me-lg-5 ms-4 me-4">
                            <label for="exampleInputEmail1" class="form-label ">Username</label>
                            <input type="username" class="form-control " [ngModelOptions]="{ standalone: true }" [(ngModel)]="login.username" id="exampleInputEmail1"
                                aria-describedby="emailHelp" required>
                        </div>
                        <div class="mb-4  ms-sm-4 me-sm-4 ms-md-4 me-md-4 ms-lg-5 me-lg-5 ms-4 me-4">
                            <label for="exampleInputPassword1" class="form-label">Password</label>
                            <input [type]="showPass ? 'text' : 'password'" [ngModelOptions]="{ standalone: true }" [(ngModel)]="login.password"  class="form-control" id="exampleInputPassword1" required>
                        </div>
                        <div class="mb-4  ms-sm-4 me-sm-4 ms-md-4 me-md-4 ms-lg-5 me-lg-5 ms-4 me-4 form-check">
                            <input type="checkbox" [ngModelOptions]="{ standalone: true }" [(ngModel)]="showPass" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Show Password</label>
                        </div>
                        <div class="mb-5 ms-sm-4 me-sm-4 ms-md-4 me-md-4 ms-lg-5 me-lg-5 ms-4 me-4">
                            <button (click)="onLogin()" type="submit" class="btn btn-sm btn-submit">Submit</button>
                        </div>
                    </form>
                </div>
                <div class="col-lg-5 col-md-5 d-sm-none d-none d-sm-block d-md-block  login-image">
                    <img src="assets/image/logo-partal_web.png" >
                </div>
            </div>
        </div>
        <div class="col background-bottom"></div>
    </div>
</div>
<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>



