/* You can add global styles to this file, and also import other style files */
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

*{
    font-family: "MyFont";
}

@font-face {
  font-family: 'MyFont';
  src: url('assets/font/Prompt/Prompt-Regular.ttf');
}

body {
  background: #ffff !important;
  font-size: 16px !important;
  font-weight: normal;
  --bs-body-color:#494747;
}
:root .container-fluid {
  --bs-gutter-x: 0rem;
}